@model IEnumerable<MvcSeguridadCubosJPL.Models.Cubo>

@{
    ViewData["Title"] = "FindCubo";
}

<h1>Buscar cubo por marca</h1>

<form method="post">
    <label>Marca:</label>
    <input type="text" name="marca" class="form-control" />
    <button class="btn btn-info">Buscar</button>
</form>
@if(Model != null){

    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCubo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCubo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
           
        </tr>
}
    </tbody>
</table>

}

